click~=7.0.0
colorama==0.4.4
cycler==0.10.0
Cython==0.29.21
joblib==1.0.1
kiwisolver==1.0.1
matplotlib~=3.3.3
numpy==1.19.3
pandas~=1.2.0
patsy==0.5.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
regex==2021.4.4
seaborn==0.11.1
six==1.12.0
smart-open==5.0.0
threadpoolctl==2.1.0
tqdm==4.60.0
tensorflow==2.5.0
streamlit~=0.86.0